<div class="container">
  <div class="row">
    <div class="col">
      <h3>Farm</h3>
      <p class="small text-muted">Earns 2-5 gold</p>
      <button class="btn btn-dark" (click)="onClick(2,5,'farm')">Farm</button>
    </div>
    <div class="col">
      <h3>Cave</h3>
      <p class="small text-muted">Earns 5-10 gold</p>
      <button class="btn btn-dark" (click)="onClick(5,10,'cave')">Cave</button>
    </div>
    <div class="col">
      <h3>Casino</h3>
      <p class="small text-muted">Earns or loses up to 100 gold</p>
      <button class="btn btn-dark" (click)="onClick(-100,100,'casino')">Casino</button>
    </div>
    <div class="col">
      <h3>House</h3>
      <p class="small text-muted">Earns 7-15 gold</p>
      <button class="btn btn-dark" (click)="onClick(7,15,'house')">House</button>
    </div>
  </div>
</div>